*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#container{/*CRIANDO O CONTAINER QUE FICARÁ OS ANIMES*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#animes{/*CRIANDO A DIV FILHA PARA ALINHAR OS ANIMES*/
    background-color: rgba(208, 244, 234, .7);
    height: 80vh;
    width: 90vw;
    padding: 10px 0px 0px 10px;
}



/*ESTILIZANDO*/

#animes img{/*Redimensionando as imagens*/
    max-height: 40vh;
    max-width: 30vw;
}